table {
    width: 80%;
    border: 2px solid black;
    font-family: "Mulish", sans-serif;
    font-family: "National Park", sans-serif;
}

body {
    font-family: "National Park", sans-serif;
}

#tableheader {
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 125%;
    text-align: center;
}

td {
    font-size: 110%;
    text-align: center;
    border: 1px solid black;
    padding: 0.1%;
}

#animatedChart {
    height: 200px;
    border: 1px solid black;
    width: 80%;
    display: flex;
}

.verticalBars {
    background-color: purple;
}

#myCanvas {
    border: 1px solid black;
}

#prediction {
    font-size: 175%;
    padding-top: 1%;
    padding-bottom: 1%
}